body{
	font-family: 'Poppins', sans-serif;
}
*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
header{
	background: #f6f6f6;
	padding: 22px 0;
}
.header-container{
	width: 90%;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
}
.header-container a{
	color: #000;
	font-size: 16px;
	margin-right: 63px;
	padding: 27px 6px;
}
.header-container a:hover{
	background:#ffea00;
}
#menu-checkbox{
	display: none;
}
ul{
	display:flex;
}
nav{
	margin-top: 20px;
}
.top-slide{
	background: url(slider_bg.jpg) no-repeat; 
	padding-top: 120px;
	padding-bottom: 280px;
	background-size: cover;
}
.top-container{
	width: 75%;
	margin: 0 auto;
}
.top-slide h2{
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}
.top-slide: nth-child(2){
	margin-bottom: 10px;
	
}
.top-slide p{
	background: #414146;
	display: inline;
	font-size: 24px;
	padding: 0 4px;
	color: #ffffff;
}

/*= specialize =*/
.specialize{
	width: 80%;
	text-align: center;
	margin: auto;
}
.specialize-container h3{
	 text-transform: uppercase;
	 font-size: 35px;
	 margin-top: 90px;
}
.specialize-container p{
	margin-top: 30px;
	margin-bottom: 70px;
	font-size: 24px;
}
.top-card-choosen img{
	width: 350px; 
	max-height: 308px;
}

.card{
	position: relative;
}
.card:first-child:after{
	 content: "";
	 position: absolute;
	 border: 12px solid transparent;
	 border-bottom: 12px solid #414146;
	 bottom: 90px;
	 right: 25px;
}
.first-p{
	 text-align: left;
	 font-size: 20px;
	 color:#fff;
	 margin-left: 18px;
}
.other-p{
	 color:#fff;
	 font-size: 12px;
	 padding: 0px 0;
}
.bottom-card{
	 background: #414146;
	 position: relative;
	 top: -30px;
}
.specialize-cards{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
.top-card{
	 background: #ffea00;
	 width: 350px;
	 height: 299px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
}
.top-card img{
	width: 150px;
	height: 136px;	
}
.top-card p{
	 text-transform: uppercase;
	 font-weight: bold;
	 letter-spacing: 5px;
	 font-size: 17px;
	 margin-top: 30px;
}

.other-p{
	font-size: 20px;
}
/*= portfolio =*/
.portfolio{
	width: 82%;
	 margin: 0 auto;
	 text-align: center;
}
.portfolio h4{
	background: #424147;
	padding: 7px 7px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
	display: inline-block;
	color: #f5e10a;
	margin-top: 70px;
	margin-bottom: 30px;
}
.portfolio p{
	color: #4241146;
	font-size: 16px;
	margin-bottom: 15px;
}	
.toggles button{
	border: none;
	background: #fff;
	color: #4241146;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}
.toggles button:after{
	content: ' / ';
}
.toggles button:last-child:after{
	content: '';
}
.posts{
	display: grid;
	margin-top: 30px;
	justify-content: space-evenly;
	grid-template-columns: repeat(auto-fit, 350px);
}
.posts img{
	max-width: 350px; 
	max-height: 350px;
}
.brand-slider{
	width: 77%;
	 margin: 0 auto;
	 text-align: center;
}
.brand-slider h4{
	background: #424147;
	padding: 7px 7px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
	display: inline-block;
	color: #f5e10a;
	margin-top: 90px;
	margin-bottom: 30px;
}
.brand-slider p{
	color: #4241146;
	font-size: 16px;
	margin-bottom: 15px;
}	
.owl-buttons{
position: relative;
}
.owl-prev {
position: absolute;
left: -30px;
top: 30px;
}

.owl-next {
position: absolute;
right: -30px;
top: 30px;
} 

.owl-next img{
max-width: 30px; 
max-height: 30px;
}
.owl-prev img{
max-width: 30px; 
max-height: 30px;	
}	

.footer-container{
width: 90%;
margin: 0 auto;	
display: grid;
grid-template-columns: 40% 30% 20%;
grid-column-gap: 3%;
}
.about-us a{
background: #000;
border-bottom: 2px solid #ffea00;
color: #fff;
font-size: 15px;
padding: 7px;
padding-left: 15px;
padding-right: 15px;
margin-top: 20px;
margin-bottom: 30px;
display: inline-block;
}
.about-us p{
margin-top: 35px;	
}
footer{
background: #414146;
padding: 30px 0;
color: #fff;
}	
footer h4{
font-size: 18px;
}
.footer-img-container{
columns: 130px auto;
}
.footer-img-container img{
padding-bottom: 10px;
margin-top: 7px;
}

.tweets p{
margin-top: 20px;
}
.yellow{
color: #ffea00;
}
.tweets img{
margin-top: 7px;	
}

.contacts p{
margin-top: 30px;	
}
.contacts img{
margin-top: 7px;	
}
@media screen and (max-width: 600px){
	.header-container{
		width: 100%;
		display:flex;
		justify-content: space-around;
	}
	.main-menu{
		display:none;
	}
	.main-menu li{
		width: 100%;
		display:block;
		font-size: 12px;
	}
	.main-menu a{
		display:block;
		padding: 8px;
	}
	.toggle-button{
		text-align: center;
		display:block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a{
		margin-right: -65px;
	}
	.main-menu{
		position: relative;
		top: 30px;
		right: 115px;
	}
	.top-slide{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.top-slide h2{
		font-size:32px;
	}
	.top-slide p{
		font-size: 16px;
	}
	.specialize-container h3{
		font-size: 24px;
	}
	.specialize-container p{
		font-size: 16px;
	}
	.specialize-cards{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.bottom-card{
		width: 350px;
		margin: 0 auto;
	}
	.toggles button{
		font-size: 16px;
		
	}
}
	

@media screen and (max-width: 1726px){	
.specialize-cards{
	display: grid;
	margin-top: 30px;
	justify-content: space-evenly;
	grid-template-columns: 350px 350px;
	}			
}	
		
		












